body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

span {
    font-size: 15px;
}

nav {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 40px;
    background-color: rgb(27, 172, 216);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.nav1 a:hover {
    background-color: yellow;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.div1 {
    background-image: url(/IMG/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div1 .sectionDiv1 {
    text-align: center;
    padding-top: 1px;
}

.h2div1 {
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;;
    font-size: 70px;
}

.pdiv1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
    margin: 0;
    text-shadow:
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;;
}

.img1 {
    width: 100px;
    height: auto;
}

.contact {
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    background-color: rgb(27, 172, 216);
    padding: 15px;
    border-radius: 10px;
}

.divSection {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.h2Main {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 70px;
}

.h3Servicios {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(27, 172, 216);
    font-weight: bold;
    font-size: 45px; 
}

.pMain {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.imgMain {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    border-radius: 30%;
}

.sectionForm {
    text-align: left;
}

.Form {
    margin: 0 auto;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    justify-content: center;
    height: 500px;
}

.h2Form {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 70px; 
}

.h3Form {
    text-align: center;
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.labelForm {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.inputForm {
    font-size: 20px;
    width: 100%;
}

.divForm {
    display: flex;
    justify-content: space-between;
}

#mensaje {
    width: 100%;
    height: 150px;
}

#correo {
    width: 100%;
}

.enviar {
    float: right;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(27, 172, 216); /* Fondo para el contenedor */
    padding: 15px;
    border-radius: 10px;
}

footer {
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(187, 223, 255);
    background-size: cover;
    position: relative;
    padding: 15px;
}